{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Налаштування акаунту - Паролі{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-account-settings.css' %}" />
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}

{% endblock page_js %}

{% block content %}


  <div class="row">
    <div class="col-md-12">
      <div class="nav-align-top">
        <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-2 gap-lg-0">
          <li class="nav-item"><a class="nav-link" href="{% url 'pages-account-settings-account' %}"><i
            class="ri-group-line me-2"></i> Акаунт</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="ri-lock-line me-2"></i>
            Пароль</a></li>
        </ul>
      </div>
      <!-- Change Password -->
      <div class="card mb-6">
        <h5 class="card-header">Змінити пароль</h5>
        <div class="card-body pt-1">

          {% if messages %}
            <div class="alert alert-info">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}
           <h6 class="text-body">Пароль повинен містити мінімум 8 символів, але чим більше тим краще</h6>
            {{ form.non_field_errors }}


            <div class="row">
              <div class="mb-5 col-md-6 form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    {{ form.old_password }}
                    {{ form.old_password.label_tag }}
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                </div>
                {% for error in form.old_password.errors %}
                  <div class="text-danger mt-2">{{ error }}</div> <!-- Ошибка под полем -->
                {% endfor %}
              </div>
            </div>

            <div class="row g-5 mb-6">
              <div class="col-md-6 form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    {{ form.new_password1 }}
                    {{ form.new_password1.label_tag }}
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                </div>
                {% for error in form.new_password1.errors %}
                  <div class="text-danger mt-2">{{ error }}</div>
                {% endfor %}
              </div>
              <div class="col-md-6 form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    {{ form.new_password2 }}
                    {{ form.new_password2.label_tag }}
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                </div>
                {% for error in form.new_password2.errors %}
                  <div class="text-danger mt-2">{{ error }}</div>
                {% endfor %}
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Зберегти</button>
          </form>
        </div>
      </div>
      <!--/ Change Password -->


    </div>
  </div>
{% endblock %}
