{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Chart.js - Charts{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/tagify/tagify.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/chartjs/chartjs.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/tagify/tagify.js' %}"></script>
  <script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
  <script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>
  <script src="{% static 'vendor/libs/bloodhound/bloodhound.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/charts-chartjs.js' %}"></script>
  <script src="{% static 'js/forms-selects.js' %}"></script>
  <script src="{% static 'js/forms-typeahead.js' %}"></script>

{% endblock page_js %}

{% block content %}
  <div class="row">
    <div class="card mb-6">
      <h5 class="card-header">Multi Column with Form Separator</h5>
      <form class="card-body" method="post">
        {% csrf_token %}
        <div class="row g-12">
          <div class="col-md-6 col-6 mb-6">
            <div class="form-floating form-floating-outline">
              {{ form.start_date }}
              <label for="{{ form.start_date.id_for_label }}"> {{ form.start_date.label }}</label>
            </div>
          </div>
          <div class="col-md-6 col-6 mb-6">
            <div class="form-floating form-floating-outline">
              {{ form.end_date }}
              <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <small class="text-light fw-medium d-block">{{ form.material_type.label }}</small>
            <div class="form-check form-check-inline mt-4">
              {% for radio in form.material_type %}
                <div class="form-check form-check-inline">
                  {{ radio.tag }}
                  <label class="form-check-label" for="{{ radio.id_for_label }}">
                    {{ radio.choice_label }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row g-6">
          <div class="col-md-6">
            <div class="form-floating form-floating-outline">
              <div class="select2-primary">
                {{ form.thickness }}
              </div>
              <label for="{{ form.thickness.id_for_label }}">{{ form.thickness.label }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating form-floating-outline">
              <div class="select2-primary">
                {{ form.materials }}
              </div>
              <label for="{{ form.materials.id_for_label }}">{{ form.materials.label }}</label>
            </div>
          </div>


        </div>
        <div class="pt-6">
          <button type="submit" class="btn btn-primary me-4">Показати</button>
          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>


  <div id="charts_block" >
    <!-- Bar Charts -->
    <div class="col-xl-12 col-12 mb-12">
      <div class="card">
        <div class="card-header header-elements">
          <h5 class="card-title mb-0">Latest Statistics</h5>
          <div class="card-action-element ms-auto py-0">
            <div class="dropdown">
              <button type="button" class="btn dropdown-toggle px-0" data-bs-toggle="dropdown" aria-expanded="false"><i
                class="ri-calendar-2-line"></i></button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a></li>
                <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a></li>
                <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 7 Days</a></li>
                <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 30 Days</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Current Month</a></li>
                <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <canvas id="barChart" class="chartjs" data-height="400"></canvas>
        </div>
      </div>
    </div>
    <!-- /Bar Charts -->

  </div>
{% endblock %}
