{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Графіки по матеріалам{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/tagify/tagify.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />

  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/jquery-timepicker/jquery-timepicker.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/pickr/pickr-themes.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/chartjs/chartjs.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/tagify/tagify.js' %}"></script>
  <script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
  <script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>
  <script src="{% static 'vendor/libs/bloodhound/bloodhound.js' %}"></script>

  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js' %}"></script>
  <script src="{% static 'vendor/libs/jquery-timepicker/jquery-timepicker.js' %}"></script>
  <script src="{% static 'vendor/libs/pickr/pickr.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/forms-selects.js' %}"></script>
  <script src="{% static 'js/forms-typeahead.js' %}"></script>


  <script>

    let starDate = document.querySelector('#id_start_date');
    let endDate = document.querySelector('#id_end_date');
    if (starDate) {
      starDate.flatpickr({
        monthSelectorType: 'static',
        dateFormat: 'Y-m-d'
      });
    }
    if (endDate) {
      endDate.flatpickr({
        monthSelectorType: 'static',
        dateFormat: 'Y-m-d'
      });
    }
    const orangeLightColor = '#ffcf5c';
    const cyanColor = '#28dac6';
    const barChart = document.getElementById('barChart');
    const inWeekChart = document.getElementById('inWeekChart');
    const inDayChart = document.getElementById('inDayChart');


    let cardColor, headingColor, labelColor, borderColor, legendColor;

    if (isDarkStyle) {
      cardColor = config.colors.cardColor;
      headingColor = config.colors_dark.headingColor;
      labelColor = config.colors_dark.textMuted;
      legendColor = config.colors_dark.bodyColor;
      borderColor = config.colors_dark.borderColor;
    } else {
      cardColor = config.colors.cardColor;
      headingColor = config.colors.headingColor;
      labelColor = config.colors.textMuted;
      legendColor = config.colors.bodyColor;
      borderColor = config.colors.borderColor;
    }


    if (inWeekChart) {
      const barChartVar = new Chart(inWeekChart, {
        type: 'bar',
        data: {
          labels: [  {% for material in orders_in_week %}  '{{ material.week }}', {% endfor %}
          ],
          datasets: [
            {
              data: [ {% for material in orders_in_week %} {{ material.total_area_int }}, {% endfor %}],
              backgroundColor: orangeLightColor,
              borderColor: 'transparent',
              maxBarThickness: 15,
              borderRadius: {
                topRight: 15,
                topLeft: 15
              }
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          animation: {
            duration: 500
          },
          plugins: {
            tooltip: {
              rtl: isRtl,
              backgroundColor: cardColor,
              titleColor: headingColor,
              bodyColor: legendColor,
              borderWidth: 1,
              borderColor: borderColor
            },
            legend: {
              display: false
            }
          },
          scales: {
            x: {
              grid: {
                color: borderColor,
                drawBorder: false,
                borderColor: borderColor
              },
              ticks: {
                color: labelColor
              }
            },
            y: {
              min: 0,
              max: {% if max_in_week %}{{ max_in_week }}{% else %} 20 {% endif %},
              grid: {
                color: borderColor,
                drawBorder: false,
                borderColor: borderColor
              },
              ticks: {
                stepSize: 100,
                color: labelColor
              }
            }
          }
        }
      });
    }

    if (inDayChart) {
      const barChartVar = new Chart(inDayChart, {
        type: 'bar',
        data: {
          labels: [  {% for material in orders_in_day %}  '{{ material.day }}', {% endfor %}
          ],
          datasets: [
            {
              data: [ {% for material in orders_in_day %} {{ material.total_area_int }}, {% endfor %}],
              backgroundColor: orangeLightColor,
              borderColor: 'transparent',
              maxBarThickness: 15,
              borderRadius: {
                topRight: 15,
                topLeft: 15
              }
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          animation: {
            duration: 500
          },
          plugins: {
            tooltip: {
              rtl: isRtl,
              backgroundColor: cardColor,
              titleColor: headingColor,
              bodyColor: legendColor,
              borderWidth: 1,
              borderColor: borderColor
            },
            legend: {
              display: false
            }
          },
          scales: {
            x: {
              grid: {
                color: borderColor,
                drawBorder: false,
                borderColor: borderColor
              },
              ticks: {
                color: labelColor
              }
            },
            y: {
              min: 0,
              max: {% if max_in_day %}{{ max_in_day }}{% else %} 20 {% endif %},
              grid: {
                color: borderColor,
                drawBorder: false,
                borderColor: borderColor
              },
              ticks: {
                stepSize: 100,
                color: labelColor
              }
            }
          }
        }
      });
    }

    if (barChart) {
      const barChartVar = new Chart(barChart, {
        type: 'bar',
        data: {
          labels: [  {% for material in orders_in_month %}  '{{ material.month }}', {% endfor %}
          ],
          datasets: [
            {
              data: [ {% for material in orders_in_month %} {{ material.total_area_int }}, {% endfor %}],
              backgroundColor: orangeLightColor,
              borderColor: 'transparent',
              maxBarThickness: 50,
              borderRadius: {
                topRight: 15,
                topLeft: 15
              }
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          animation: {
            duration: 500
          },
          plugins: {
            tooltip: {
              rtl: isRtl,
              backgroundColor: cardColor,
              titleColor: headingColor,
              bodyColor: legendColor,
              borderWidth: 1,
              borderColor: borderColor
            },
            legend: {
              display: false
            },
            datalabels: {
              anchor: 'end',
              align: 'top',
              color: labelColor,
              font: {
                size: 12,
                weight: 'bold'
              },
              formatter: (value) => value // Отображение числовых значений
            }

          },
          scales: {
            x: {
              grid: {
                color: borderColor,
                drawBorder: false,
                borderColor: borderColor
              },
              ticks: {
                color: labelColor
              }
            },
            y: {
              min: 0,
              max: {% if max_in_month %}{{ max_in_month }}{% else %} 20 {% endif %},
              grid: {
                color: borderColor,
                drawBorder: false,
                borderColor: borderColor
              },
              ticks: {
                stepSize: 100,
                color: labelColor
              }
            }
          }
        },
        plugins: [{
          afterDatasetsDraw: (chart) => {
            const ctx = chart.ctx;
            chart.data.datasets.forEach((dataset, i) => {
              const meta = chart.getDatasetMeta(i);
              meta.data.forEach((bar, index) => {
                const value = dataset.data[index];
                ctx.fillStyle = labelColor;
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.font = '12px Arial';
                const positionY = bar.y + (bar.base - bar.y) / 2; // Центр столбца по оси Y
                ctx.fillText(value, bar.x, positionY); // Текст внутри ст // Вывод значения чуть выше каждого столбца
              });
            });
          }
        }]
      });
    }

    const horizontalBarChart = document.getElementById('horizontalBarChart');
    if (horizontalBarChart) {
      const horizontalBarChartVar = new Chart(horizontalBarChart, {
        type: 'bar',
        data: {
          labels: [ {% for company in orders_with_area_company %}  '{{ company.company_name }}', {% endfor %}],
          datasets: [
            {
              data: [{% for company in orders_with_area_company %}  '{{ company.forms_area_int }}', {% endfor %}],
              backgroundColor: cyanColor,
              borderColor: 'transparent',
              maxBarThickness: 15
            }
          ]
        },
        options: {
          indexAxis: 'y',
          responsive: true,
          maintainAspectRatio: false,
          animation: {
            duration: 500
          },
          elements: {
            bar: {
              borderRadius: {
                topRight: 15,
                bottomRight: 15
              }
            }
          },
          plugins: {
            tooltip: {
              rtl: isRtl,
              backgroundColor: cardColor,
              titleColor: headingColor,
              bodyColor: legendColor,
              borderWidth: 1,
              borderColor: borderColor
            },
            legend: {
              display: false
            }
          },
          scales: {
            x: {
              min: 0,
              grid: {
                color: borderColor,
                borderColor: borderColor
              },
              ticks: {
                color: labelColor
              }
            },
            y: {
              grid: {
                borderColor: borderColor,
                display: false,
                drawBorder: false
              },
              ticks: {
                color: labelColor
              }
            }
          }
        }
      });
    }

  </script>
  <script>

$(document).ready(function () {


    // Получаем ссылки на элементы
    const thicknessField = document.getElementById("select_material_thickness");
    const materialsField = document.getElementById("select_material");

    thicknessField.addEventListener("change", function () {
        // Получаем выбранные значения толщины
        const selectedThickness = Array.from(thicknessField.selectedOptions).map(option => option.value);

        // Отправляем запрос на сервер с выбранными значениями толщины
        fetch(`/filter-materials/?${new URLSearchParams({ 'thickness[]': selectedThickness })}`)
            .then(response => response.json())
            .then(data => {
                // Очистка текущего содержимого materialsField
                materialsField.innerHTML = "";

                // Добавляем новые опции на основе полученных данных
                data.forEach(material => {
                    const option = document.createElement("option");
                    option.value = material.id;
                    option.text = material.name;
                    materialsField.appendChild(option);
                });

                // Обновляем Select2 виджет
                $('#select_material').trigger('change');
            })
            .catch(error => console.error('Ошибка при получении данных:', error));
    });
});
  </script>


{% endblock page_js %}

{% block content %}
  <div class="row">
    <div class="card mb-6">
      <h5 class="card-header">Вибрати за яким діапазоном показувати графіки</h5>
      <form class="card-body" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <div class="row g-12">
          <div class="col-md-3 col-3 mb-3">
            <div class="form-floating form-floating-outline">
              {{ form.start_date }}
              <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
              {% if form.start_date.errors %}
                <div class="text-danger">
                  {% for error in form.start_date.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="col-md-3 col-3 mb-3">
            <div class="form-floating form-floating-outline">
              {{ form.end_date }}
              <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
              {% if form.end_date.errors %}
                <div class="text-danger">
                  {% for error in form.end_date.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>


          <div class="col-md-3">
            <div class="form-floating form-floating-outline">
              <div class="select2-primary">
                {{ form.thickness }}
              </div>
              <label for="{{ form.thickness.id_for_label }}">{{ form.thickness.label }}</label>
              {% if form.thickness.errors %}
                <div class="text-danger">
                  {% for error in form.thickness.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-floating form-floating-outline">
              <div class="select2-primary">
                {{ form.materials }}
              </div>
              <label for="{{ form.materials.id_for_label }}">{{ form.materials.label }}</label>
              {% if form.materials.errors %}
                <div class="text-danger">
                  {% for error in form.materials.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>


        <div class="pt-6">
          <button type="submit" class="btn btn-primary me-4">Показати</button>
        </div>
      </form>
    </div>
  </div>



  <div id="charts_block">
    <!-- Bar Charts -->
    <div class="row">
      <div class="col-xl-9 col-9 mb-9">
        <div class="card">
          <div class="card-header header-elements">
            <h5 class="card-title mb-0">Статистика</h5>

            <div class="card-action-element ms-auto py-0">
            </div>
          </div>
          <div class="card-body">
            <canvas id="barChart" class="chartjs" data-height="1000"></canvas>
          </div>

          <div class="card-body">
            <canvas id="inWeekChart" class="chartjs" data-height="1000"></canvas>
          </div>


          <div class="card-body">
            <canvas id="inDayChart" class="chartjs" data-height="1000"></canvas>
          </div>

        </div>
      </div>

      <!-- /Bar Charts -->


      <!-- Horizontal Bar Charts -->
      <div class="col-xl-3 col-3 mb-3">
        <div class="card">
          <div class="card-header header-elements">
            <div class="d-flex flex-column">
              <h5 class="card-title mb-1">Замовники</h5>
            </div>
          </div>
          <div class="card-body" style="height: {{ height }}px;">
            <canvas id="horizontalBarChart" class="chartjs" data-height="400"></canvas>
          </div>
        </div>
      </div>
      <!-- /Horizontal Bar Charts -->
    </div>
  </div>
{% endblock %}
