{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Інформація про матеріали{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}


  <script>
    $(document).ready(function() {
      $('.dt-fixedcolumns').DataTable({
        scrollY: 700,
        scrollX: true,
        scrollCollapse: true,
        paging: false,
        info: false,
        fixedColumns: true
      });
    });
  </script>
{% endblock page_js %}

{% block content %}


  <!-- Fixed Columns -->
  <div class="card">
    <h5 class="card-header pb-0">Інформація про матеріали</h5>
    <div class="card-datatable text-nowrap pb-0">
      <table class="dt-fixedcolumns table table-bordered">
        <thead>
        <tr>
          <th>Матеріал</th>
          <th>товщ</th>
          <th>розмір листа</th>
          <th>кіл-сть листів</th>
          <th>м2 в листах</th>
          <th>витрата</th>
          <th>брудна витрата</th>
          <th>запас, міс.</th>
          <th>запас, днів</th>
          <th>Дата закінчення</th>
          <th>Дія</th>

        </tr>
        </thead>
        <tbody>
        {% for material in materials %}
          <tr
            {% if material.stock_days < 15 %} style="background-color: rgba(255,135,135,0.48);" {% endif %}
            {% if material.stock_days < 45 %} style="background-color: rgba(255,192,96,0.53)"  {% endif %}
          >

            <td  {% if material.stock_days < 15 %} style="background-color: rgba(255,135,135);" {% endif %}
              {% if material.stock_days < 45 %}
                                                   style="background-color: rgb(255,176,55)"  {% endif %}>{{ material.name }}</td>
            <td>{{ material.thickness }}</td>
            <!-- Размеры листов -->
            <td>
              {% for sheet_info in material.sheets_info %}
                {{ sheet_info.height }} x {{ sheet_info.width }} <br>
              {% endfor %}
            </td>

            <!-- Количество листов -->
            <td> {% for sheet_info in material.sheets_info %}
                {{ sheet_info.count }} <br>
              {% endfor %}</td>

            <td>{{ material.square }}</td>
            <td>{{ material.orders_square }}</td>
            <td>{{ material.black_orders_square }}</td>
            <td>{{ material.stock_months }}</td>
            <td>{{ material.stock_days }}</td>
            <td>{{ material.end_date | date:"d.m.Y" }}</td>
            <td>
              {#            <!-- Действия с материалом, например, кнопки редактирования/удаления -->#}
              {#            <a href="#" class="btn btn-sm btn-primary">Редактировать</a>#}
              {#            <a href="#" class="btn btn-sm btn-danger">Удалить</a>#}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="12">Матеріали не знайдені</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Fixed Columns -->


{% endblock %}
