{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Замовлення{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/tagify/tagify.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/bs-stepper/bs-stepper.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/dropzone/dropzone.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/tagify/tagify.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
  <script src="{% static 'vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
  <script src="{% static 'vendor/libs/dropzone/dropzone.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script>
    (function() {

      // робота з завантаження файлів

      const allowedExtensions = {{ allowed_extensions|safe }};

      const previewTemplate = `<div class="dz-preview dz-file-preview">
<div class="dz-details">
  <div class="dz-thumbnail">
    <img data-dz-thumbnail>
    <span class="dz-nopreview">Без превью</span>
    <div class="dz-success-mark"></div>
    <div class="dz-error-mark"></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
    <div class="progress">
      <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
    </div>
  </div>
  <div class="dz-filename" data-dz-name></div>
  <div class="dz-size" data-dz-size></div>
</div>
</div>`;


      // Multiple Dropzone
      // --------------------------------------------------------------------
      const dropzoneMulti = document.querySelector('#dropzone-multi');
      if (dropzoneMulti) {
        const myDropzoneMulti = new Dropzone(dropzoneMulti, {
          previewTemplate: previewTemplate,
          parallelUploads: 1,
          maxFilesize: 1024,
          addRemoveLinks: true,
          acceptedFiles: allowedExtensions.map(ext => '.' + ext).join(',')
        });
      }
    })();


  </script>
  <script>

    // заполнение и работа с таблицей
    $(function() {
      let dt_select_table = $('.dt-select-table');
      if (dt_select_table.length) {
        var dt_select = dt_select_table.DataTable({
          ajax: "{% url 'orders:orders_data' %}",
          columns: [
            { data: 'id' },
            { data: 'id' },
            { data: 'start_date' },
            { data: 'status' },
            { data: 'client' },
            { data: 'printing_company' },
            { data: 'name' },
            { data: 'technology' },
            { data: 'order_material' },
            { data: 'ruling' },
            { data: 'slices_count' },
            { data: 'forms_area' },
            { data: 'fartuks_area' },
            { data: 'fartuk' },
            { data: 'fartuks' },
            { data: 'pay' },
            { data: 'check' },
            { data: 'shipping_date_planed' },
            { data: 'shipping_date_departure' },
            { data: 'delivery' },
            { data: 'contact' },
            { data: 'contact' }

          ],
          lengthMenu: [[100, 200, 500], [100, 200, 500]],
          columnDefs: [
            {
              // For Checkboxes
              targets: 0,
              searchable: false,
              orderable: false,
              render: function() {
                return '<input type="checkbox" class="dt-checkboxes form-check-input">';
              },
              checkboxes: {
                selectRow: true,
                selectAllRender: '<input type="checkbox" class="form-check-input">'
              }
            },
            {
              // Label
              targets: -1,
              render: function(data, type, full, meta) {
                var $status_number = full['status'];
                var $status = {
                  1: { title: 'Доставлено', class: 'bg-label-primary' },
                  2: { title: 'Professional', class: ' bg-label-success' },
                  3: { title: 'Rejected', class: ' bg-label-danger' },
                  4: { title: 'Resigned', class: ' bg-label-warning' },
                  5: { title: 'Applied', class: ' bg-label-info' }
                };
                if (typeof $status[$status_number] === 'undefined') {
                  return data;
                }
                return (
                  '<span class="badge rounded-pill ' +
                  $status[$status_number].class +
                  '">' +
                  $status[$status_number].title +
                  '</span>'
                );
              }
            }
          ],
          order: [[1, 'desc']],
          dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>><"table-responsive"t><"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
          language: {
            paginate: {
              next: '<i class="ri-arrow-right-s-line"></i>',
              previous: '<i class="ri-arrow-left-s-line"></i>'
            }
          },
          select: {
            // Select style
            style: 'multi'
          },
          processing: true,
          serverSide: true,
          scrollY: '65vh',
          {#search: {#}
          {#  return: true#}
          {# },#}
          scrollX: true
        });
      }
    });

    // работа с формой в выпадающем окне

    $(function() {
      const select2 = $('.select2'),
        TagifyLanguageSuggestionEl = document.querySelector('#TagifyLanguageSuggestion');

      const langaugelist = ['Portuguese', 'German', 'French', 'English'];

      let TagifyLanguageSuggestion = new Tagify(TagifyLanguageSuggestionEl, {
        whitelist: langaugelist,
        dropdown: {
          classname: '',
          enabled: 0,
          closeOnSelect: false
        }
      });

      // Select2 Country
      if (select2.length) {
        select2.each(function() {
          var $this = $(this);
          select2Focus($this);
          $this.wrap('<div class="position-relative"></div>').select2({
            placeholder: 'Select value',
            dropdownParent: $this.parent()
          });
        });
      }
    });

    document.addEventListener('DOMContentLoaded', function(e) {
      (function() {
        // variables
        const modalEditUserTaxID = document.querySelector('.modal-edit-tax-id');
        const modalEditUserPhone = document.querySelector('.phone-number-mask');

        // Prefix
        if (modalEditUserTaxID) {
          new Cleave(modalEditUserTaxID, {
            prefix: 'TIN',
            blocks: [3, 3, 3, 4],
            uppercase: true
          });
        }

        // Phone Number Input Mask
        if (modalEditUserPhone) {
          new Cleave(modalEditUserPhone, {
            phone: true,
            phoneRegionCode: 'US'
          });
        }

        // валидация формы
        FormValidation.formValidation(document.getElementById('createOrderForm'), {
          fields: {
            modalEditUserFirstName: {
              validators: {
                notEmpty: {
                  message: 'Please enter your first name'
                },
                regexp: {
                  regexp: /^[a-zA-Zs]+$/,
                  message: 'The first name can only consist of alphabetical'
                }
              }
            },
            modalEditUserLastName: {
              validators: {
                notEmpty: {
                  message: 'Please enter your last name'
                },
                regexp: {
                  regexp: /^[a-zA-Zs]+$/,
                  message: 'The last name can only consist of alphabetical'
                }
              }
            },
            modalEditUserName: {
              validators: {
                notEmpty: {
                  message: 'Please enter your username'
                },
                stringLength: {
                  min: 6,
                  max: 30,
                  message: 'The name must be more than 6 and less than 30 characters long'
                },
                regexp: {
                  regexp: /^[a-zA-Z0-9 ]+$/,
                  message: 'The name can only consist of alphabetical, number and space'
                }
              }
            }
          },
          plugins: {
            trigger: new FormValidation.plugins.Trigger(),
            bootstrap5: new FormValidation.plugins.Bootstrap5({
              // Use this for enabling/changing valid/invalid class
              // eleInvalidClass: '',
              eleValidClass: '',
              rowSelector: '.col-12'
            }),
            submitButton: new FormValidation.plugins.SubmitButton(),
            // Submit the form when all fields are valid
            // defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            autoFocus: new FormValidation.plugins.AutoFocus()
          }
        });
      })();
    });


  </script>
{% endblock page_js %}

{% block content %}


  <div class="card">
    <h5 class="card-header text-center text-md-start pb-md-0">Таблиця замовлень</h5>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createOrder"> Додати
      замовлення
    </button>
    <div class="card-datatable dataTable_select text-nowrap">
      <table class="dt-select-table table table-bordered">
        <thead>
        <tr>
          <th></th>

          <th>id</th>
          <th>дата запуску</th>
          <th>статус</th>
          <th>Замовник</th>
          <th>Друкарська компанія</th>
          <th>назва замовлення</th>
          <th>технологія</th>
          <th>матеріал</th>
          <th>лініатура</th>
          <th>кількість форм</th>
          <th>площа замовлення</th>
          <th>площа фартуків</th>
          <th>тип фартуків</th>
          <th>розміри фартуків</th>
          <th>оплата</th>
          <th>рахунок</th>
          <th>плануєма відправка</th>
          <th>фактична відправка</th>
          <th>адреса доставки</th>
          <th>контакт доставки</th>
          <th>брак</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>

  <!-- Edit User Modal -->
  <div class="modal fade" id="createOrder" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body p-0">
          <div class="text-center mb-6">
            <h4 class="mb-2">Створення замовлення</h4>
          </div>
          <div class="col-12">
            <div class="card">
              <h5 class="card-header">Завантажте файли</h5>
              <div class="card-body">
                <form action="{% url 'orders:upload_files' %}" class="dropzone needsclick" id="dropzone-multi">
                  <div class="dz-message needsclick">
                    Перетягніть файли сюди або натисніть, щоб завантажити

                  </div>
                  <div class="fallback">
                    <input name="file" type="file" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <br>

          <form id="createOrderForm" class="row g-5" onsubmit="return false">
            {% csrf_token %}

            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <input type="text" id="modalEditUserFirstName" name="modalEditUserFirstName" class="form-control"
                       value="Oliver" placeholder="Oliver" />
                <label for="modalEditUserFirstName">First Name</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <input type="text" id="modalEditUserLastName" name="modalEditUserLastName" class="form-control"
                       value="Queen" placeholder="Queen" />
                <label for="modalEditUserLastName">Last Name</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating form-floating-outline">
                <input type="text" id="modalEditUserName" name="modalEditUserName" class="form-control"
                       value="oliverQueen" placeholder="oliverQueen" />
                <label for="modalEditUserName">Username</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <input type="text" id="modalEditUserEmail" name="modalEditUserEmail" class="form-control"
                       value="oliverqueen@gmail.com" placeholder="oliverqueen@gmail.com" />
                <label for="modalEditUserEmail">Email</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <select id="modalEditUserStatus" name="modalEditUserStatus" class="form-select"
                        aria-label="Default select example">
                  <option value="1" selected>Active</option>
                  <option value="2">Inactive</option>
                  <option value="3">Suspended</option>
                </select>
                <label for="modalEditUserStatus">Status</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <input type="text" id="modalEditTaxID" name="modalEditTaxID" class="form-control modal-edit-tax-id"
                       placeholder="123 456 7890" />
                <label for="modalEditTaxID">Tax ID</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-group input-group-merge">
                <span class="input-group-text">US (+1)</span>
                <div class="form-floating form-floating-outline">
                  <input type="text" id="modalEditUserPhone" name="modalEditUserPhone"
                         class="form-control phone-number-mask" value="+1 609 933 4422" placeholder="+1 609 933 4422" />
                  <label for="modalEditUserPhone">Phone Number</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <input id="TagifyLanguageSuggestion" name="TagifyLanguageSuggestion" class="form-control h-auto"
                       placeholder="select language" value="English">
                <label for="TagifyLanguageSuggestion">Language</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <select id="modalEditUserCountry" name="modalEditUserCountry" class="select2 form-select"
                        data-allow-clear="true">
                  <option value="">Select</option>
                  <option value="Australia">Australia</option>
                  <option value="Bangladesh">Bangladesh</option>
                  <option value="Belarus">Belarus</option>
                  <option value="Brazil">Brazil</option>
                  <option value="Canada">Canada</option>
                  <option value="China">China</option>
                  <option value="France">France</option>
                  <option value="Germany">Germany</option>
                  <option value="India" selected>India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Israel">Israel</option>
                  <option value="Italy">Italy</option>
                  <option value="Japan">Japan</option>
                  <option value="Korea">Korea, Republic of</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Philippines">Philippines</option>
                  <option value="Russia">Russian Federation</option>
                  <option value="South Africa">South Africa</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Turkey">Turkey</option>
                  <option value="Ukraine">Ukraine</option>
                  <option value="United Arab Emirates">United Arab Emirates</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="United States">United States</option>
                </select>
                <label for="modalEditUserCountry">Country</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="editBillingAddress" />
                <label for="editBillingAddress" class="text-heading">Use as a billing address?</label>
              </div>
            </div>
            <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Edit User Modal -->



{% endblock content %}

