{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Замовлення{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/tagify/tagify.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/bs-stepper/bs-stepper.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/dropzone/dropzone.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />


{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/tagify/tagify.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
  <script src="{% static 'vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
  <script src="{% static 'vendor/libs/dropzone/dropzone_standart.js' %}"></script>

  <script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
  <script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>
  <script src="{% static 'vendor/libs/bloodhound/bloodhound.js' %}"></script>

{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script>

    $(function() {
      const selectPicker = $('.selectpicker'),
        select2 = $('.select2');

      // Bootstrap Select
      // --------------------------------------------------------------------
      if (selectPicker.length) {
        selectPicker.selectpicker();
        handleBootstrapSelectEvents();
      }

      // Select2
      // --------------------------------------------------------------------

      // Default
      if (select2.length) {
        select2.each(function() {
          var $this = $(this);
          select2Focus($this);
          $this.wrap('<div class="position-relative"></div>').select2({
            placeholder: 'Обране значення',
            dropdownParent: $this.parent()
          });
        });
      }

      $('#selectCompanyClients').on('change', function() {
        const selectedValue = $(this).val();

        if (!selectedValue || selectedValue === '-1') {
          $('#printing_company_div').hide();
        } else {
          $('#printing_company_div').show();
        }
      });

      $('#selectPrintingCompany').on('change', function() {
        const selectedValue = $(this).val();
        const work_file =  $('[name="work_file"]');

        if (!selectedValue || selectedValue === '-1' || !work_file.val() || work_file.val() === '-1') {

          $('#preset_div').hide();
          $('#compression_div').hide();
          $('#compression_value_div').hide();
          $('#revert_print_div').hide();
        } else {
          $('#preset_div').show();
          $('#compression_div').show();
          $('#compression_value_div').show();
          $('#revert_print_div').show();
        }
      });

    });


  </script>

  <script>


    document.getElementById('add_color_button').addEventListener('click', function(event) {
      event.preventDefault();
      const container = document.getElementById('colors-container');
      const colorBlock = document.createElement('div');
      colorBlock.classList.add('row', 'g-3');

      colorBlock.innerHTML = `
        <div class="col-12 col-md-2">
            <div class="form-floating form-floating-outline">
                <input type="text" name="name" class="form-control" required>
                <label for="id_name">Колір</label>
            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <input type="number" name="height" class="form-control" required>
                <label for="id_height">Кут</label>
            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <input type="number" name="width" class="form-control" required>
                <label for="id_width">Точка</label>
            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <input type="number" name="center_point" class="form-control">
                <label for="id_center_point">lpi</label>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="form-floating form-floating-outline">
                <input type="number" name="height" class="form-control" required>
                <label for="id_height">Матеріал</label>
            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <input type="number" name="center_point" class="form-control">
                <label for="id_center_point">стр</label>
            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <input type="number" name="center_point" class="form-control">
                <label for="id_center_point">Ширина</label>
            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <input type="number" name="center_point" class="form-control">
                <label for="id_center_point">Висота</label>
            </div>
        </div>

        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <input type="number" name="center_point" class="form-control">
                <label for="id_center_point">к-сть</label>
            </div>
        </div>
        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <button type="button" class="btn btn-danger remove-block">X</button>
            </div>
        </div>
    `;

      const removeButton = colorBlock.querySelector('.remove-block');
      removeButton.addEventListener('click', function() {
        container.removeChild(colorBlock);
      });

      container.appendChild(colorBlock);
    });

    //добавления блока с фартуками

    document.getElementById('add_fartuk_button').addEventListener('click', function(event) {
      event.preventDefault();

      // Получаем шаблон формы
      const template_fartuk = document.getElementById('fartuk-form-template').content.cloneNode(true);

      // Добавляем новую форму в контейнер
      const fartukContainer = document.getElementById('fartuk-forms-container');
      fartukContainer.appendChild(template_fartuk);

      // Добавляем обработчики удаления для всех кнопок в контейнере
      fartukContainer.querySelectorAll('.remove-block').forEach(button => {
        button.addEventListener('click', function() {
          this.closest('.fartuk-block').remove(); // Удаляет текущий блок оплаты
        });
      });
    });

    document.getElementById('add_damper_button').addEventListener('click', function(event) {

      event.preventDefault();
      const container = document.getElementById('damper-container');
      const damperBlock = document.createElement('div');
      damperBlock.classList.add('row', 'g-3');

      damperBlock.innerHTML = `
        <div class="col-12 col-md-3">
            <div class="form-floating form-floating-outline">
                <input type="text" name="name" class="form-control" required>
                <label for="id_name">Назва</label>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-floating form-floating-outline">
                <input type="number" name="height" class="form-control" required>
                <label for="id_height">Висота</label>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-floating form-floating-outline">
                <input type="number" name="width" class="form-control" required>
                <label for="id_width">Ширина</label>
            </div>
        </div>

        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <button type="button" class="btn btn-danger remove-block">X</button>
            </div>
        </div>
    `;

      // Добавить обработчик удаления для кнопки "X"
      const removeButton = damperBlock.querySelector('.remove-block');
      removeButton.addEventListener('click', function() {
        container.removeChild(damperBlock);
      });

      // Добавить новый блок в контейнер
      container.appendChild(damperBlock);

    });

    document.getElementById('add_membrane_button').addEventListener('click', function(event) {
      event.preventDefault();
      const container = document.getElementById('membrane-container');
      const membraneBlock = document.createElement('div');
      membraneBlock.classList.add('row', 'g-3');
      membraneBlock.innerHTML = `
        <div class="col-12 col-md-3">
            <div class="form-floating form-floating-outline">
                <input type="text" name="name" class="form-control" required>
                <label for="id_name">Назва</label>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="form-floating form-floating-outline">
                <input type="number" name="height" class="form-control" required>
                <label for="id_height">Висота</label>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="form-floating form-floating-outline">
                <input type="number" name="width" class="form-control" required>
                <label for="id_width">Ширина</label>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-floating form-floating-outline">
                <input type="number" name="ruling" class="form-control" required>
                <label for="id_ruling">Лініатура</label>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="form-floating form-floating-outline">
                <input type="text" name="technology" class="form-control" required>
                <label for="id_technology">Технологія</label>
            </div>
        </div>

        <div class="col-12 col-md-1">
            <div class="form-floating form-floating-outline">
                <button type="button" class="btn btn-danger remove-block">X</button>
            </div>
        </div>
      `;

      const removeButton = membraneBlock.querySelector('.remove-block');
      removeButton.addEventListener('click', function() {
        container.removeChild(membraneBlock);
      });

      // Добавить новый блок в контейнер
      container.appendChild(membraneBlock);
    });

    document.getElementById('add_payment_button').addEventListener('click', function(event) {
      event.preventDefault();

      // Получаем шаблон формы
      const template = document.getElementById('payment-form-template').content.cloneNode(true);

      // Добавляем новую форму в контейнер
      const paymentContainer = document.getElementById('payment-container');
      paymentContainer.appendChild(template);

      // Добавляем обработчики удаления для всех кнопок в контейнере
      paymentContainer.querySelectorAll('.remove-block').forEach(button => {
        button.addEventListener('click', function() {
          this.closest('.payment-block').remove(); // Удаляет текущий блок оплаты
        });
      });
    });


    (function() {
      const allowedExtensions = {{ allowed_extensions|safe }};

      const previewTemplate = `<div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <div class="dz-thumbnail">
        <img data-dz-thumbnail>
        <span class="dz-nopreview">Без превью</span>
        <div class="dz-success-mark"></div>
        <div class="dz-error-mark"></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
        </div>
      </div>
      <div class="dz-filename" data-dz-name></div>
      <div class="dz-size" data-dz-size></div>
    </div>
  </div>`;

      const dropzoneMulti = document.querySelector('#dropzone-multi');
      if (dropzoneMulti) {
        const myDropzoneMulti = new Dropzone(dropzoneMulti, {
          url: "{% url 'orders:upload_files' %}",
          previewTemplate: previewTemplate,
          parallelUploads: 1,
          maxFilesize: 1024,
          addRemoveLinks: true,
          acceptedFiles: allowedExtensions.map(ext => '.' + ext).join(','),
          autoProcessQueue: true,
          headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value }

        });

        myDropzoneMulti.on('addedfile', function(file) {
          const existingFile = myDropzoneMulti.files.find(
            (f) => f.name === file.name && f !== file
          );
          if (existingFile) {
            myDropzoneMulti.removeFile(existingFile); // Удаляем старый файл
          }
        });

        // Добавьте обработчики для успешной загрузки или ошибок
        myDropzoneMulti.on('success', function(file, response) {
          file.serverFilename = response.filename;
          console.log(response.filename);

          const workFileSelect = document.querySelector('[name="work_file"]');
          if (workFileSelect) {
            const option = document.createElement('option');
            option.value = response.filename;
            option.textContent = response.filename;
            workFileSelect.appendChild(option);

            document.getElementById('work_file_div').style.display = 'inline';

          }
        });
        myDropzoneMulti.on('error', function(file, response) {
          console.error('Ошибка загрузки файла:', response.error);
        });

        myDropzoneMulti.on('removedfile', function(file) {
          const tempdir = document.querySelector('[name="tempdir"]').value;

          fetch(`{% url 'orders:delete_file' %}?filename=${encodeURIComponent(file.serverFilename)}&tempdir=${encodeURIComponent(tempdir)}`, {
            method: 'DELETE',
            headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
          })
            .then(response => {
              if (response.ok) {
                const workFileSelect = document.querySelector('[name="work_file"]');
                if (workFileSelect) {
                  const options = Array.from(workFileSelect.options);
                  const optionToRemove = options.find(option => option.value === file.serverFilename);
                  if (optionToRemove) {
                    workFileSelect.removeChild(optionToRemove);
                  }
                }

              } else {
                console.error(`Ошибка удаления файла :`, response.statusText);
              }
            })
            .catch(error => {
              console.error('Ошибка при удалении файла:', error);
            });
        });

      }
    })();

  </script>
  <script>

    // заполнение и работа с таблицей
    $(function() {
      let dt_select_table = $('.dt-select-table');
      if (dt_select_table.length) {
        var dt_select = dt_select_table.DataTable({
          ajax: "{% url 'orders:orders_data' %}",
          columns: [
            { data: 'id' },
            { data: 'id' },
            { data: 'start_date' },
            { data: 'status' },
            { data: 'client' },
            { data: 'printing_company' },
            { data: 'name' },
            { data: 'technology' },
            { data: 'order_material' },
            { data: 'ruling' },
            { data: 'slices_count' },
            { data: 'forms_area' },
            { data: 'fartuks_area' },
            { data: 'fartuk' },
            { data: 'fartuks' },
            { data: 'pay' },
            { data: 'check' },
            { data: 'shipping_date_planed' },
            { data: 'shipping_date_departure' },
            { data: 'delivery' },
            { data: 'contact' },
            { data: 'contact' }

          ],
          lengthMenu: [[100, 200, 500], [100, 200, 500]],
          columnDefs: [
            {
              // For Checkboxes
              targets: 0,
              searchable: false,
              orderable: false,
              render: function() {
                return '<input type="checkbox" class="dt-checkboxes form-check-input">';
              },
              checkboxes: {
                {#selectRow: true,#}
                selectAllRender: '<input type="checkbox" class="form-check-input">'
              }
            }

          ],
          order: [[1, 'desc']],
          dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>><"table-responsive"t><"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
          language: {
            paginate: {
              next: '<i class="ri-arrow-right-s-line"></i>',
              previous: '<i class="ri-arrow-left-s-line"></i>'
            }
          },
          select: {
            // Select style
            style: 'multi'
          },
          processing: true,
          serverSide: true,
          scrollY: '65vh',
          {#search: {#}
          {#  return: true#}
          {# },#}
          scrollX: true
        });


        // Добавление события на двойной щелчок
        dt_select_table.on('dblclick', 'tr', function() {
          var rowData = dt_select.row(this).data(); // Получить данные строки
          if (rowData) {
            // Добавьте любое действие, например, открытие модального окна
            get_order_info(rowData.id);
          }
        });
      }
    });


  </script>

  <script>

    function get_order_info(order_id) {
      const url = `{% url "orders:get_order_info" %}?order_id=${order_id}`;

      // Выполнение GET-запроса
      fetch(url, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken') // Если CSRF токен нужен
        }
      })
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json(); // Преобразуем ответ в JSON
        })
        .then(data => {
          // Проверяем статус ответа
          if (data.status === 'success') {
            console.log('Заказ:', data.order);
            console.log('Демпферы:', data.dampers);
            console.log('Фартуки:', data.fartuks);
            console.log('Слайсы:', data.slices);
            console.log('Редактируемость:', data.editable);
          } else {
            console.error('Ошибка:', data.message);
          }
        })
        .catch(error => {
          console.error('Произошла ошибка при запросе:', error);
        });
    }


    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Проверяем, соответствует ли имя куки
          if (cookie.startsWith(name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }


  </script>
{% endblock page_js %}

{% block content %}


  <div class="card">
    <h5 class="card-header text-center text-md-start pb-md-0">Таблиця замовлень</h5>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createOrder"> Додати
      замовлення
    </button>
    <div class="card-datatable dataTable_select text-nowrap">
      <table class="dt-select-table table table-bordered">
        <thead>
        <tr>
          <th></th>

          <th>id</th>
          <th>дата запуску</th>
          <th>статус</th>
          <th>Замовник</th>
          <th>Друкарська компанія</th>
          <th>назва замовлення</th>
          <th>технологія</th>
          <th>матеріал</th>
          <th>лініатура</th>
          <th>кількість форм</th>
          <th>площа замовлення</th>
          <th>площа фартуків</th>
          <th>тип фартуків</th>
          <th>розміри фартуків</th>
          <th>оплата</th>
          <th>рахунок</th>
          <th>плануєма відправка</th>
          <th>фактична відправка</th>
          <th>адреса доставки</th>
          <th>контакт доставки</th>
          <th>брак</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>


  <div class="modal fade" id="createOrder" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-simple">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body p-0">
          <div class="text-center mb-6">
            <h4 class="mb-2">Створення замовлення</h4>
          </div>
          <div class="col-12">
            <div class="card">
              <h5 class="card-header">Завантажте файли</h5>
              <div class="card-body">
                <form action="{% url 'orders:upload_files' %}" method="post" enctype="multipart/form-data"
                      class="dropzone needsclick" id="dropzone-multi">
                  {% csrf_token %}
                  <input type="hidden" name="tempdir" value="{{ temp_dir }}">
                  <div class="dz-message needsclick">
                    Перетягніть файли сюди або натисніть, щоб завантажити
                  </div>
                  <div class="fallback">
                    <input name="file" type="file" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <br>

          <form id="createOrderForm" class="row g-5" onsubmit="return false">
            {% csrf_token %}
            <div class="col-12 col-md-6" id="urgency_div">
              <label class="switch">
                <input type="checkbox" class="switch-input">
                <span class="switch-toggle-slider">
              <span class="switch-on"></span>
              <span class="switch-off"></span>
            </span>
                <span class="switch-label">Терміновий</span>
              </label>
            </div>
            <div class="col-12 col-md-6" id="engraver_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.engraver }}
                {{ create_order_form.engraver.label_tag }}
              </div>
            </div>

            <div class="col-12 col-md-6" id="work_file_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.work_file }}
                {{ create_order_form.work_file.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-6" id="work_name_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.name }}
                {{ create_order_form.name.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-6" id="company_client_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.company_client }}
                {{ create_order_form.company_client.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-6" id="printing_company_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.printing_company }}
                {{ create_order_form.printing_company.label_tag }}
              </div>
            </div>
            <div class="col-12" id="preset_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.preset }}
                {{ create_order_form.preset.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-6" id="revert_print_div">
              <div class="form-floating form-floating-outline">
                <small class="text-light fw-medium d-block">Друк</small>
                {% for value, label in create_order_form.revert_print.field.choices %}
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{ create_order_form.revert_print.name }}"
                           id="inlineRadio{{ forloop.counter }}" value="{{ value }}">
                    <label class="form-check-label" for="inlineRadio{{ forloop.counter }}">{{ label }}</label>
                  </div>
                {% endfor %}

              </div>
            </div>
            <div class="col-12 col-md-3" id="compression_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.compression }}
                {{ create_order_form.compression.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-3" id="compression_value_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.compression_value }}
                {{ create_order_form.compression_value.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-6" id="technology_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.technology }}
                {{ create_order_form.technology.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-6" id="angle_set">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.angle_set }}
                {{ create_order_form.angle_set.label_tag }}
              </div>
            </div>
            <div class="col-12" id="color_library_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.color_library }}
                {{ create_order_form.color_library.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-2" id="colors_param_title_div">
              <p>параметри для кольорів</p>
            </div>
            <div class="col-12 col-md-2" id="raster_dot_default_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.raster_dot_default }}
                {{ create_order_form.raster_dot_default.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-2" id="ruling_default_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.ruling_default }}
                {{ create_order_form.ruling_default.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-2" id="materials_default_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.materials_default }}
                {{ create_order_form.materials_default.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-2" id="height_default_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.height_default }}
                {{ create_order_form.height_default.label_tag }}
              </div>
            </div>
            <div class="col-12 col-md-2" id="width_default_div">
              <div class="form-floating form-floating-outline">
                {{ create_order_form.width_default }}
                {{ create_order_form.width_default.label_tag }}
              </div>

            </div>
            <div id="colors-container" class="row"></div>
            <button class="btn btn-primary" id="add_color_button">+ колір</button>

            <div id="fartuk-forms-container" class="row"></div>
            <button class="btn btn-primary" id="add_fartuk_button">+ фартук</button>

            <div id="damper-container" class="row"></div>
            <button class="btn btn-primary" id="add_damper_button">+ демпфер</button>


            <div id="membrane-container" class="row"></div>
            <button class="btn btn-primary" id="add_membrane_button">+ плівку</button>


            <div id="payment-container" class="row"></div>
            <button class="btn btn-primary" id="add_payment_button">+ оплату</button>

            <div class="col-12 col-md-6" id="area_div">
              <div class="form-floating form-floating-outline">
                {{ delivery_form.area }}
                {{ delivery_form.area.label_tag }}
              </div>
            </div>

            <div class="col-12 col-md-6" id="settlement_div">
              <div class="form-floating form-floating-outline">
                {{ delivery_form.settlement }}
                {{ delivery_form.settlement.label_tag }}
              </div>
            </div>

            <div class="col-12 col-md-4" id="delivery_type_div">
              <div class="form-floating form-floating-outline">
                {{ delivery_form.delivery_type }}
                {{ delivery_form.delivery_type.label_tag }}
              </div>
            </div>


            <div class="col-12 col-md-4" id="np_type_field_div">
              <div class="form-floating form-floating-outline">
                <small class="text-light fw-medium d-block">Вид доставки</small>
                {% for value, label in delivery_form.np_type_field.field.choices %}
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{ delivery_form.np_type_field.name }}"
                           id="np_delivery_tupe_{{ forloop.counter }}" value="{{ value }}">
                    <label class="form-check-label" for="np_delivery_tupe_{{ forloop.counter }}">{{ label }}</label>
                  </div>
                {% endfor %}

              </div>
            </div>

            <div class="col-12 col-md-4" id="post_office_ref_div">
              <div class="form-floating form-floating-outline">
                {{ delivery_form.post_office_ref }}
                {{ delivery_form.post_office_ref.label_tag }}
              </div>
            </div>

            <div class="col-12 col-md-8" id="street_div">
              <div class="form-floating form-floating-outline">
                {{ delivery_form.street }}
                {{ delivery_form.street.label_tag }}
              </div>
            </div>

            <div class="col-12 col-md-4" id="build_div">
              <div class="form-floating form-floating-outline">
                {{ delivery_form.build }}
                {{ delivery_form.build.label_tag }}
              </div>
            </div>


            <div class="col-12" id="description_div">
              <div class="form-floating form-floating-outline">
                {{ delivery_form.description }}
                {{ delivery_form.description.label_tag }}
              </div>
            </div>


            <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4"
                 id="create_order_button_div">
              <button type="submit" class="btn btn-primary">розмістити замовлення</button>
              <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Очистити
                форму
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Шаблон для форы оплаты -->
  <template id="payment-form-template">
    <div class="row g-3 payment-block">
      <div class="col-12 col-md-5">
        <div class="form-floating form-floating-outline">
          <select name="order_payment_type" class="form-control" required>
            {% for choice in order_payment_form.order_payment_type.field.choices %}
              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
          <label for="id_order_payment_type">Тип оплаты</label>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-floating form-floating-outline">
          <input type="text" name="value" class="form-control" required>
          <label for="id_value">Значення</label>
        </div>
      </div>
      <div class="col-12 col-md-1">
        <button type="button" class="btn btn-danger remove-block">X</button>
      </div>
    </div>
  </template>

  <template id="fartuk-form-template">
    <div class="row g-3 fartuk-block">
      <div class="col-12 col-md-2">
        <div class="form-floating form-floating-outline">
          <input type="text" name="name" class="form-control" required>
          <label for="id_name">Назва</label>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-floating form-floating-outline">
          <input type="number" name="height" class="form-control" required>
          <label for="id_height">Висота</label>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-floating form-floating-outline">
          <input type="number" name="width" class="form-control" required>
          <label for="id_width">Ширина</label>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-floating form-floating-outline">
          <input type="number" name="center_point" class="form-control">
          <label for="id_center_point">Центр</label>
        </div>
      </div>
      <div class="col-12 col-md-1">
        <div class="form-floating form-floating-outline">
          <button type="button" class="btn btn-danger remove-block">X</button>
        </div>
      </div>
    </div>
  </template>



  <script>

    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('work_file_div').style.display = 'none';
      document.getElementById('printing_company_div').style.display = 'none';
      document.getElementById('preset_div').style.display = 'none';
      document.getElementById('compression_div').style.display = 'none';
      document.getElementById('compression_value_div').style.display = 'none';
      document.getElementById('revert_print_div').style.display = 'none';
      document.getElementById('technology_div').style.display = 'none';
      document.getElementById('angle_set').style.display = 'none';
      document.getElementById('color_library_div').style.display = 'none';
      document.getElementById('colors_param_title_div').style.display = 'none';
      document.getElementById('raster_dot_default_div').style.display = 'none';
      document.getElementById('ruling_default_div').style.display = 'none';
      document.getElementById('materials_default_div').style.display = 'none';
      document.getElementById('height_default_div').style.display = 'none';
      document.getElementById('width_default_div').style.display = 'none';
      document.getElementById('add_color_button').style.setProperty('display', 'none', 'important');
      document.getElementById('add_payment_button').style.setProperty('display', 'none', 'important');
      document.getElementById('area_div').style.display = 'none';
      document.getElementById('settlement_div').style.display = 'none';
      document.getElementById('delivery_type_div').style.display = 'none';
      document.getElementById('np_type_field_div').style.display = 'none';
      document.getElementById('post_office_ref_div').style.display = 'none';
      document.getElementById('street_div').style.display = 'none';
      document.getElementById('build_div').style.display = 'none';
      document.getElementById('description_div').style.display = 'none';
      document.getElementById('create_order_button_div').style.setProperty('display', 'none', 'important');
    });

    document.addEventListener('DOMContentLoaded', function() {
      const workFileSelect = document.querySelector('[name="work_file"]');
      const nameInput = document.querySelector('[name="name"]');

      // выбор рабочего файла

      if (workFileSelect && nameInput) {
        workFileSelect.addEventListener('change', function() {
          const selectedValue = workFileSelect.value;
          if (selectedValue === '-1') {
            nameInput.value = ''; // Очистить поле name
          } else {
            const fileNameWithoutExtension = selectedValue.replace(/\.[^/.]+$/, '');
            nameInput.value = fileNameWithoutExtension; // Установить выбранное имя файла

          }
        });
      }

      const compression = document.querySelector('[name="compression"]');
      if (compression){
        compression.addEventListener('change', function() {
          let selectedCompressionValue  = compression.value;
          if (selectedCompressionValue === "NONE"){
            document.getElementById('compression_value_div').style.display = 'none';
          }
          else {
            document.getElementById('compression_value_div').style.display = 'block';
          }
        })
      }

    })

  </script>


{% endblock content %}

